<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-3">
  <div class="container">
    <!-- Brand / Logo -->
    <a class="navbar-brand fw-bold" href="#">
      <i class="fas fa-ticket-alt"></i> Ticket Booking App
    </a>

    <!-- Toggler for Mobile View -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home Link -->
        <li class="nav-item">
          <a class="nav-link fw-bold" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
        </li>

        <!-- Conditional Links for User Not Logged In -->
        <ng-container *ngIf="user === undefined; else showLogout">
          <li class="nav-item">
            <a class="nav-link fw-bold" routerLink="register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" routerLink="login" routerLinkActive="active">Login</a>
          </li>
        </ng-container>

        <!-- Conditional Links for Logged In User -->
        <ng-template #showLogout>
          <li class="nav-item">
            <a class="nav-link fw-bold" routerLink="profile" routerLinkActive="active">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#" (click)="onLogout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
