<div class="container mt-5">
  <!-- Header for Events List -->
  <h1 class="text-center mb-4">Events List</h1>

  <!-- Button to Add Event aligned to the right -->
  <div class="d-flex justify-content-end mb-4">
    <a (click)="createEventClick()" class="btn btn-primary">
      <i class="fas fa-plus"></i> Add Event
    </a>
  </div>

  <!-- Events Cards Layout -->
  <ng-container *ngIf="events$ | async as events">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let event of events">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ event.eventName }}</h5>
            <p class="card-text">{{ event.description }}</p>
            <p><strong>Date:</strong> {{ event.eventDate | date: 'MMM d, y' }}</p>
            <p><strong>Time:</strong> {{ event.eventTime }}</p>
            <p><strong>Location:</strong> {{ event.location }}</p>
            <p><strong>Ticket Price:</strong> {{ event.ticketPrice }}</p>
            <p><strong>Tickets Available:</strong> {{ event.ticketsAvailable }}</p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-primary" (click)="onButtonClick(event.id, event.ticketPrice)">
              Book Ticket
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
